vosk
kaldi
.vscode
index.html
openblas
openfst
emsdk
test.js
test.wasm
src/*.o
# Build outputs
/voskletto.js
/voskletto.wasm
*.symbols
/node_modules
/build
/voskletto-async.js
/voskletto-worker.js
/AddCOI.js
/voskletto.d.ts
/voskletto-async.d.ts
